body{
    padding:20px;
}
#title{
	text-align: center;
    font-family:avenir;
    font-size:34px;
	font-weight:bold;
    color:#ffa737;
}
#subtitle{
	text-align: center;
    font-family:avenir;
    font-size:12px;
    color:#c48627;
}
li{
    padding-bottom:20px;
}
#content{
    padding:15px;
    font-family:avenir;
    font-size:20px;
    color:#c48627;
}
